*
!*/
!*.c
!*.sh
!*.go
!*.cpp
!*.h
!*.hpp
!*.cpp
!*.py
!*.java
!*.txt
!*.pdf
!*.docx
!*.snippets
!.gitignore
!.clang-format
!.snippets-pdf/
!Makefile
!go.mod
.idea/
build/
.ccls-cache/
cmake-build-debug/
CMakeCache.txt
CMakeFiles
