*
!*/
!*.c
!*.sh
!*.go
!*.cpp
!*.h
!*.hpp
!*.cpp
!*.py
!*.java
!*.txt
!*.snippets
!.gitignore
!.clang-format
!Makefile
!.snippets-pdf/
.idea/
build/
.ccls-cache/
cmake-build-debug/
CMakeCache.txt
CMakeFiles
