snippet comp "competitive programming template" b
import sys
import os


def solve():
    ${0:pass}


if __name__ == "__main__":
    # if os.path.exists('/home/ms/myp/problem-solving/input'):
    #     sys.stdin = open('/home/ms/myp/problem-solving/input', 'r')
    # sys.setrecursionlimit(100000)
    for i in range(int(input())):
        solve()
endsnippet
